host caen
  HostName caen-vnc-vm14.engin.umich.edu
  User aniruddh
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes
  ServerAliveInterval 120

host caenscp
  HostName sftp.itcs.umich.edu
  User aniruddh

host *.umich.edu
  Compression yes
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes
