host caen
  HostName caen-vnc-vm14.engin.umich.edu
  User aniruddh
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes
  ServerAliveInterval 120

host caenscp
  HostName sftp.itcs.umich.edu
  User aniruddh

host *.umich.edu
  Compression yes
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes

host bandit
  HostName bandit.labs.overthewire.org
  Port 2220

Host znc
  HostName ec2-13-228-73-171.ap-southeast-1.compute.amazonaws.com
  User ubuntu
  IdentityFile ~/.ssh/aws-sing.pem
